<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.baidu.com" target="_blank" class="link">百度</a>  |
            <a href="https://www.zhihu.com" target="_blank" class="link">知乎</a>  |
            <a href="https://gitee.com/FengDianQingQing" target="_blank" class="link">码云</a>  |
            <a href="https://github.com/ZZZrf123" target="_blank" class="link">github</a>
        </div>
        <p class="copyright">
            Copyright  ©  2017  txwindlight.top  All rights reserved.
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>